<p>weather-details works!</p>
<table>
  
</table>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{model.cityName}}</mat-card-title>
      <mat-card-subtitle>{{model.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tr>
          <td>
            <p>{{model.temp}}</p>
            <p>{{model.humidity}}</p>
            <p>{{model.pressure}}</p>
            <p>{{model.windDegree}}</p>
            <p>{{model.windSpeed}}</p>
            </td>

            <td>
              <img src="http://openweathermap.org/img/wn/{{model.icon}}@2x.png">
            </td>
        </tr>
        
      </table>
      
    </mat-card-content>
    
  </mat-card>