<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="box">
    <a [routerLink]="['/']">Home</a> 
    &nbsp;
    <a [routerLink]="['/elephant']">Elephant</a> 
    &nbsp;
    <button type="button" [routerLink]="['/trex']">Mighty Trex</button>
    &nbsp;
    <button type="button" [routerLink]="['/customer/1']">Customer 1</button>
  </div>
  <router-outlet></router-outlet>
</body>
</html>